.root {
    -fx-background:  #504A4B;
    -fx-background-light: #808080;
    -fx-color: #ffffff;
    -fx-error: #ED1C24;
    -fx-background-color: -fx-background;
    -fx-accent:#A45EE5;
    -fx-accent-dark: #8430FF;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: -fx-color;
    -fx-text-inner-color: -fx-color;
}

.background-light {
    -fx-background-color: -fx-background-light;
}

.higlight-pane {
    -fx-border-width: 5px;
    -fx-border-color:  transparent transparent transparent -fx-background;
}

.button-accented {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-color;
}

.button-transparent {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color;
}

.button-menu {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-accent;
    -fx-font-weight: 700;
}

.input {
    -fx-background-color: transparent;
    -fx-border-color:  transparent transparent -fx-color transparent;
}

.header {
    -fx-text-fill: -fx-accent;
}

.text-on-light {
    -fx-text-fill: -fx-accent-dark;
}

.error {
    -fx-font-size: 12px;
    -fx-text-fill: -fx-error;
}

.table-view,
.table-view .column-header-background,
.text-area .scroll-pane .content,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane,
.text-area {
    -fx-background-color: transparent;
}

.table-view .filler,
.table-view .column-header {
    -fx-background-color: -fx-background;
    -fx-border-color:  -fx-background-light;
}