.root {
    -fx-error: #ED1C24;
    -fx-background-color: -fx-background;
    -fx-accent: #A45EE5;
    -fx-accent-dark: #8430FF;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: -fx-color;
    -fx-text-inner-color: -fx-color;
    -fx-color: #000000; /* Default color */
}

.dark-theme {
    -fx-background: #504A4B;
    -fx-background-light: #808080;
    -fx-color: #ffffff;
}

.light-theme {
    -fx-background: #c7c7c7;
    -fx-background-light: #ffffff;
    -fx-color: #504A4B;
}

.label {
    -fx-text-fill: -fx-color;
}

.background-light {
    -fx-background-color: -fx-background-light;
}

.higlight-pane {
    -fx-border-width: 5px;
    -fx-border-color: transparent transparent transparent -fx-background;
}

.button-accented-dark,
.button-accented {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-color;
    -fx-cursor: hand;
}

.button-accented-dark {
    -fx-background-color: -fx-accent-dark;
}

.quantity-button {
    -fx-cursor: hand;
    -fx-background-color: -fx-accent-dark;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.quantity-button:focused {
    -fx-background-color: -fx-accent;
}

.button-hover:hover {
    -fx-background-color: -fx-accent;
}

.user-info-label {
    -fx-font-size: 12px;
    -fx-text-fill: -fx-accent-dark;
}

.light-theme .button-accented-dark,
.light-theme .button-accented {
    -fx-text-fill: -fx-background-light;
}

.button-transparent.button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color;
    -fx-cursor: hand;
}

.dark-theme .button-transparent.button:hover {
    -fx-color: #ffffff;
    -fx-text-fill: -fx-color;
}

.light-theme .button-transparent.button:hover {
    -fx-color: #504A4B;
    -fx-text-fill: -fx-color;
}

.button-menu {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-accent;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}

.input {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-color transparent;
}

.header {
    -fx-text-fill: -fx-accent;
}

.text-on-light {
    -fx-text-fill: -fx-accent-dark;
}

.error,
.labeltext {
    -fx-font-size: 12px;
}

.error {
    -fx-text-fill: -fx-error;
}

.table-view,
.table-view .column-header-background,
.text-area .scroll-pane .content,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane,
.text-area {
    -fx-background-color: transparent;
}

.text-area {
    -fx-border-color: transparent transparent -fx-color transparent;
}

.table-view .filler,
.table-view .column-header {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background-light;
}

.choice-box {
    -fx-background-radius: 0;
}

.choice-box--custom.choice-box {
    -fx-background-color: -fx-background;
    -fx-mark-color: -fx-accent;
}

.choice-box--custom.choice-box > .label {
    -fx-text-fill: -fx-color;
}

.choice-box--custom.choice-box .context-menu {
    -fx-background-color: -fx-background;
}

.choice-box--custom.choice-box .menu-item:focused {
    -fx-background-color: -fx-accent;
}

.choice-box--custom.choice-box .menu-item > .label {
    -fx-text-fill: -fx-color;
}

.light-theme .choice-box #choice-box-menu-item > .label { -fx-text-fill: white; }


.settings .choice-box {
    -fx-background-color: -fx-accent; /* Default background color for list items */
    -fx-text-fill: -fx-background; /* Text color */
    -fx-mark-color: -fx-color;
}

/* Set the text color and font size for the selected item in the control */
.settings .choice-box .label { /* w   ww  .    d e m    o 2   s  .c  o   m */
    -fx-text-fill: -fx-color;
}

.light-theme .choice-box .label { /* w   ww  .    d e m    o 2   s  .c  o   m */
    -fx-text-fill: -fx-background-light;
}

/* Set the text color and text font size for choices in the popup list */
.settings #choice-box-menu-item * {
    -fx-text-fill: -fx-background;
}

/* Set the text color and text font size for choices in the popup list */
.light-theme.settings #choice-box-menu-item * {
    -fx-text-fill: -fx-color;
}

/* Set background color of the arrow */
.settings .choice-box .arrow {
    -fx-background-color: -fx-color;
}

.light-theme.settings .choice-box .arrow { /* w   ww  .    d e m    o 2   s  .c  o   m */
    -fx-background-color: -fx-background-light;
}

.settings .choice-box #choice-box-menu-item:focused { -fx-background-color: -fx-accent; }
.settings .choice-box #choice-box-menu-item:focused > .label { -fx-text-fill: -fx-color; }
.settings .choice-box #choice-box-menu-item > .label { -fx-text-fill: -fx-background; }
.light-theme.settings .choice-box #choice-box-menu-item:focused > .label { -fx-text-fill: -fx-background-light; }
.light-theme.settings .choice-box #choice-box-menu-item > .label { -fx-text-fill: #504A4B; }


.radio-button .radio {
    -fx-border-color: -fx-accent-dark;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 4px;
}

.radio-button:selected .dot {
    -fx-background-color: -fx-accent-dark;
}

.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.main-view .back-button {
    -fx-opacity: 0;
}
